In [2]:
from numpy import genfromtxt
from time import time
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy.orm import session
import csv
import pandas as pd

In [2]:
file_path = "../Resources/CTA_Ridership_Monthly_Day_Type_Averages.csv"
cta_monthly_df = pd.read_csv(file_path)
cta_monthly_df.head()

,station_id,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
0,40900,Howard,1/1/2001,6233.9,3814.5,2408.6,164447
1,41190,Jarvis,1/1/2001,1489.1,1054.0,718.0,40567
2,40100,Morse,1/1/2001,4412.5,3064.5,2087.8,119772
3,41300,Loyola,1/1/2001,4664.5,3156.0,1952.8,125008
4,40760,Granville,1/1/2001,3109.8,2126.0,1453.8,84189

In [3]:
cta_monthly_df['stationame'] = cta_monthly_df['stationame'].str.replace('/','-')
cta_monthly_df.head()

,station_id,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
0,40900,Howard,1/1/2001,6233.9,3814.5,2408.6,164447
1,41190,Jarvis,1/1/2001,1489.1,1054.0,718.0,40567
2,40100,Morse,1/1/2001,4412.5,3064.5,2087.8,119772
3,41300,Loyola,1/1/2001,4664.5,3156.0,1952.8,125008
4,40760,Granville,1/1/2001,3109.8,2126.0,1453.8,84189

In [4]:
cta_monthly_df.dtypes

station_id                    int64
stationame                   object
month_beginning              object
avg_weekday_rides           float64
avg_saturday_rides          float64
avg_sunday-holiday_rides    float64
monthtotal                    int64
dtype: object

In [5]:
cta_monthly_df['date'] = pd.to_datetime(cta_monthly_df['month_beginning'])
cta_monthly_df.head()

,station_id,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal,date
0,40900,Howard,1/1/2001,6233.9,3814.5,2408.6,164447,2001-01-01
1,41190,Jarvis,1/1/2001,1489.1,1054.0,718.0,40567,2001-01-01
2,40100,Morse,1/1/2001,4412.5,3064.5,2087.8,119772,2001-01-01
3,41300,Loyola,1/1/2001,4664.5,3156.0,1952.8,125008,2001-01-01
4,40760,Granville,1/1/2001,3109.8,2126.0,1453.8,84189,2001-01-01

In [6]:
cta_monthly_df.dtypes

station_id                           int64
stationame                          object
month_beginning                     object
avg_weekday_rides                  float64
avg_saturday_rides                 float64
avg_sunday-holiday_rides           float64
monthtotal                           int64
date                        datetime64[ns]
dtype: object

In [7]:
cta_monthly_df_rename = cta_monthly_df.rename(columns={"station_id": "Station_ID", "stationame":"Station_Name"})
cta_monthly_df_rename.head()

,Station_ID,Station_Name,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal,date
0,40900,Howard,1/1/2001,6233.9,3814.5,2408.6,164447,2001-01-01
1,41190,Jarvis,1/1/2001,1489.1,1054.0,718.0,40567,2001-01-01
2,40100,Morse,1/1/2001,4412.5,3064.5,2087.8,119772,2001-01-01
3,41300,Loyola,1/1/2001,4664.5,3156.0,1952.8,125008,2001-01-01
4,40760,Granville,1/1/2001,3109.8,2126.0,1453.8,84189,2001-01-01

In [8]:
# Reorganizing the columns
cta_monthly_df_reorg = cta_monthly_df_rename[["Station_ID", "Station_Name","date", "avg_weekday_rides", "avg_saturday_rides",
                                "avg_sunday-holiday_rides", "monthtotal"]]
cta_monthly_df_reorg.head()

,Station_ID,Station_Name,date,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
0,40900,Howard,2001-01-01,6233.9,3814.5,2408.6,164447
1,41190,Jarvis,2001-01-01,1489.1,1054.0,718.0,40567
2,40100,Morse,2001-01-01,4412.5,3064.5,2087.8,119772
3,41300,Loyola,2001-01-01,4664.5,3156.0,1952.8,125008
4,40760,Granville,2001-01-01,3109.8,2126.0,1453.8,84189

# Extract 10 Year ridership average for each station

In [10]:
max_date = cta_monthly_df_reorg['date'].max()
max_date

Timestamp('2018-12-01 00:00:00')

In [11]:
ten_yrs_ago = max_date - relativedelta(years=11)
ten_yrs_ago

Timestamp('2007-12-01 00:00:00')

In [12]:
cta_monthly_ten_years_data = cta_monthly_df_reorg[cta_monthly_df_reorg['date'] > ten_yrs_ago]

cta_monthly_ten_years_data.head()

,Station_ID,Station_Name,date,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
11924,40900,Howard,2008-01-01,5455.5,3572.3,2476.0,146691
11925,41190,Jarvis,2008-01-01,1391.5,994.8,747.8,38330
11926,40100,Morse,2008-01-01,3764.5,2555.8,1892.2,102504
11927,41300,Loyola,2008-01-01,4357.1,2972.3,2116.6,118328
11928,40760,Granville,2008-01-01,3060.5,2277.8,1596.2,84424

In [13]:
cta_monthly_ten_years_data['date'] = pd.to_datetime(cta_monthly_ten_years_data['date']).dt.to_period('y')
cta_monthly_ten_years_data.head()

C:\Users\mdjow\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Station_ID,Station_Name,date,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
11924,40900,Howard,2008,5455.5,3572.3,2476.0,146691
11925,41190,Jarvis,2008,1391.5,994.8,747.8,38330
11926,40100,Morse,2008,3764.5,2555.8,1892.2,102504
11927,41300,Loyola,2008,4357.1,2972.3,2116.6,118328
11928,40760,Granville,2008,3060.5,2277.8,1596.2,84424

In [14]:
ten_year_data = cta_monthly_ten_years_data.pivot_table(index=['Station_ID','Station_Name'], 
                    columns='date', 
                    values='monthtotal', 
                    aggfunc='mean')
ten_year_data.head()

,date,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Station_ID,Station_Name,,,,,,,,,,,
40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667
40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333
40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000
40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667
40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667

In [15]:
ten_year_data = ten_year_data.reset_index().rename_axis(None).rename_axis(None, axis=1)
ten_year_data.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667
1,40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333
2,40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000
3,40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667
4,40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667

In [16]:
ten_year_data.count()

Station_ID      146
Station_Name    146
2008            142
2009            142
2010            141
2011            141
2012            143
2013            143
2014            143
2015            144
2016            144
2017            145
2018            145
dtype: int64

In [17]:
ten_year_data['Station_ID'].nunique()

146

In [95]:
engine = create_engine(f'postgresql://postgres:postgres@:5432/CTA')
con = engine.connect()
ten_year_data.to_sql('total_ridership', con)

# Monthly Ridership Data for last one year

In [18]:
one_yrs_ago = max_date - relativedelta(years=1)
one_yrs_ago

Timestamp('2017-12-01 00:00:00')

In [19]:
cta_monthly_one_years_data = cta_monthly_df_reorg[cta_monthly_df_reorg['date'] > one_yrs_ago]

cta_monthly_one_years_data.head()

,Station_ID,Station_Name,date,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
29027,40580,54th-Cermak,2018-01-01,1887.9,985.8,605.6,48504
29028,41020,Logan Square,2018-01-01,6877.0,3727.5,2437.6,178391
29029,40800,Sedgwick,2018-01-01,3453.3,1881.0,1243.8,89715
29030,40140,Dempster-Skokie,2018-01-01,1650.7,713.8,478.4,41562
29031,41170,Garfield-Dan Ryan,2018-01-01,2844.7,2193.0,1416.8,78440

In [20]:
# change date to a month format
cta_monthly_one_years_data['date'] = pd.to_datetime(cta_monthly_one_years_data['date']).dt.to_period('m')
cta_monthly_one_years_data.head()

C:\Users\mdjow\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Station_ID,Station_Name,date,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
29027,40580,54th-Cermak,2018-01,1887.9,985.8,605.6,48504
29028,41020,Logan Square,2018-01,6877.0,3727.5,2437.6,178391
29029,40800,Sedgwick,2018-01,3453.3,1881.0,1243.8,89715
29030,40140,Dempster-Skokie,2018-01,1650.7,713.8,478.4,41562
29031,41170,Garfield-Dan Ryan,2018-01,2844.7,2193.0,1416.8,78440

In [21]:
one_year_monthly_data = cta_monthly_one_years_data.pivot_table(index=['Station_ID','Station_Name'], 
                    columns='date', 
                    values='monthtotal', 
                    aggfunc='mean')
one_year_monthly_data.head()

,date,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
Station_ID,Station_Name,,,,,,,,,,,,
40010,Austin-Forest Park,44050.0,42282.0,46618.0,46893.0,48748.0,47426.0,47299.0,50664.0,50229.0,56143.0,47491.0,41823.0
40020,Harlem-Lake,87743.0,82998.0,97050.0,93044.0,100828.0,102085.0,103872.0,110235.0,100340.0,107336.0,92976.0,86532.0
40030,Pulaski-Lake,32537.0,31237.0,35516.0,35442.0,39261.0,37908.0,38226.0,39156.0,37709.0,41243.0,37833.0,40782.0
40040,Quincy-Wells,180738.0,161890.0,186353.0,179467.0,190410.0,186307.0,189258.0,201483.0,177927.0,209691.0,174092.0,145603.0
40050,Davis,89673.0,88892.0,98435.0,97293.0,102257.0,102435.0,103452.0,100324.0,92669.0,105530.0,91374.0,79671.0

In [22]:
one_year_monthly_data = one_year_monthly_data.reset_index().rename_axis(None).rename_axis(None, axis=1)
one_year_monthly_data.head()

,Station_ID,Station_Name,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,40010,Austin-Forest Park,44050.0,42282.0,46618.0,46893.0,48748.0,47426.0,47299.0,50664.0,50229.0,56143.0,47491.0,41823.0
1,40020,Harlem-Lake,87743.0,82998.0,97050.0,93044.0,100828.0,102085.0,103872.0,110235.0,100340.0,107336.0,92976.0,86532.0
2,40030,Pulaski-Lake,32537.0,31237.0,35516.0,35442.0,39261.0,37908.0,38226.0,39156.0,37709.0,41243.0,37833.0,40782.0
3,40040,Quincy-Wells,180738.0,161890.0,186353.0,179467.0,190410.0,186307.0,189258.0,201483.0,177927.0,209691.0,174092.0,145603.0
4,40050,Davis,89673.0,88892.0,98435.0,97293.0,102257.0,102435.0,103452.0,100324.0,92669.0,105530.0,91374.0,79671.0

In [ ]:
# add 1 year monthly ridership data to the database 

one_year_monthly_data.to_sql('one_year_monthly_data', con=engine, if_exists='replace')

# Average Weekday rides for last 10 years

In [23]:
weekdays_ridership = cta_monthly_ten_years_data.pivot_table(index=['Station_ID','Station_Name'], 
                    columns='date', 
                    values='avg_weekday_rides', 
                    aggfunc='mean')
weekdays_ridership.head()

,date,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Station_ID,Station_Name,,,,,,,,,,,
40010,Austin-Forest Park,1879.100000,1859.950000,1926.333333,2053.516667,2119.125000,2102.566667,2106.275000,2107.216667,2080.050000,2017.350000,1934.258333
40020,Harlem-Lake,3954.183333,3668.566667,3683.891667,3705.500000,3854.316667,3921.191667,4061.633333,4027.600000,3812.850000,3754.958333,3746.958333
40030,Pulaski-Lake,1713.191667,1810.875000,2045.058333,2047.841667,2074.391667,1914.666667,1877.808333,1756.533333,1496.033333,1406.025000,1396.133333
40040,Quincy-Wells,7202.466667,7325.200000,7150.058333,7861.691667,8060.041667,7976.741667,8214.075000,7939.733333,8084.891667,8100.841667,7961.400000
40050,Davis,3914.383333,3814.533333,3762.641667,3818.783333,3870.475000,3808.191667,3881.875000,3866.333333,3735.975000,3663.491667,3639.775000

In [24]:
weekdays_ridership = weekdays_ridership.reset_index().rename_axis(None).rename_axis(None, axis=1)
weekdays_ridership.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,40010,Austin-Forest Park,1879.100000,1859.950000,1926.333333,2053.516667,2119.125000,2102.566667,2106.275000,2107.216667,2080.050000,2017.350000,1934.258333
1,40020,Harlem-Lake,3954.183333,3668.566667,3683.891667,3705.500000,3854.316667,3921.191667,4061.633333,4027.600000,3812.850000,3754.958333,3746.958333
2,40030,Pulaski-Lake,1713.191667,1810.875000,2045.058333,2047.841667,2074.391667,1914.666667,1877.808333,1756.533333,1496.033333,1406.025000,1396.133333
3,40040,Quincy-Wells,7202.466667,7325.200000,7150.058333,7861.691667,8060.041667,7976.741667,8214.075000,7939.733333,8084.891667,8100.841667,7961.400000
4,40050,Davis,3914.383333,3814.533333,3762.641667,3818.783333,3870.475000,3808.191667,3881.875000,3866.333333,3735.975000,3663.491667,3639.775000

In [25]:
weekdays_ridership.to_sql('weekday_data', con)

NameError: name 'con' is not defined

# Average Saturday rides for last 10 years

In [26]:
saturday_ridership = cta_monthly_ten_years_data.pivot_table(index=['Station_ID','Station_Name'], 
                    columns='date', 
                    values='avg_saturday_rides', 
                    aggfunc='mean')
saturday_ridership.head()

,date,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Station_ID,Station_Name,,,,,,,,,,,
40010,Austin-Forest Park,864.433333,864.341667,942.625000,1019.025000,1083.033333,1067.550000,1063.200000,1034.391667,1004.766667,907.825000,802.133333
40020,Harlem-Lake,2340.150000,2298.975000,2287.300000,2329.908333,2481.950000,2503.625000,2638.350000,2612.725000,2103.425000,2308.225000,2255.383333
40030,Pulaski-Lake,1086.333333,1222.550000,1307.533333,1364.058333,1456.850000,1300.541667,1319.208333,1238.633333,1033.108333,961.658333,946.591667
40040,Quincy-Wells,1826.891667,1802.508333,1695.600000,1885.983333,1498.233333,1870.241667,1921.300000,1683.408333,1754.300000,1598.008333,1482.025000
40050,Davis,2976.350000,3015.525000,2995.741667,3033.708333,2953.991667,2923.808333,2953.208333,2828.058333,2706.291667,2516.375000,2436.516667

In [27]:
saturday_ridership = saturday_ridership.reset_index().rename_axis(None).rename_axis(None, axis=1)
saturday_ridership.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,40010,Austin-Forest Park,864.433333,864.341667,942.625000,1019.025000,1083.033333,1067.550000,1063.200000,1034.391667,1004.766667,907.825000,802.133333
1,40020,Harlem-Lake,2340.150000,2298.975000,2287.300000,2329.908333,2481.950000,2503.625000,2638.350000,2612.725000,2103.425000,2308.225000,2255.383333
2,40030,Pulaski-Lake,1086.333333,1222.550000,1307.533333,1364.058333,1456.850000,1300.541667,1319.208333,1238.633333,1033.108333,961.658333,946.591667
3,40040,Quincy-Wells,1826.891667,1802.508333,1695.600000,1885.983333,1498.233333,1870.241667,1921.300000,1683.408333,1754.300000,1598.008333,1482.025000
4,40050,Davis,2976.350000,3015.525000,2995.741667,3033.708333,2953.991667,2923.808333,2953.208333,2828.058333,2706.291667,2516.375000,2436.516667

In [ ]:
saturday_ridership.to_sql('saturday_data', con)

# Average Sunday/Holiday rides for last 10 years

In [28]:
sunday_holiday_ridership = cta_monthly_ten_years_data.pivot_table(index=['Station_ID','Station_Name'], 
                    columns='date', 
                    values='avg_sunday-holiday_rides', 
                    aggfunc='mean')
sunday_holiday_ridership.head()

,date,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Station_ID,Station_Name,,,,,,,,,,,
40010,Austin-Forest Park,619.066667,640.591667,708.433333,763.350000,789.275000,795.550000,795.150000,756.316667,743.725000,676.033333,599.525000
40020,Harlem-Lake,1517.516667,1542.058333,1540.308333,1597.433333,1649.650000,1687.358333,1810.058333,1781.400000,1498.483333,1661.175000,1582.700000
40030,Pulaski-Lake,776.108333,889.708333,971.891667,1058.066667,1133.000000,995.941667,1010.783333,923.500000,761.733333,754.041667,715.866667
40040,Quincy-Wells,1474.783333,1512.141667,1443.483333,1612.433333,1317.983333,1538.883333,1613.841667,1406.450000,1438.425000,1351.950000,1282.041667
40050,Davis,1875.658333,1964.383333,1904.425000,1972.058333,1910.525000,1961.175000,1986.366667,1970.075000,1840.083333,1750.291667,1680.308333

In [29]:
sunday_holiday_ridership = sunday_holiday_ridership.reset_index().rename_axis(None).rename_axis(None, axis=1)
sunday_holiday_ridership.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,40010,Austin-Forest Park,619.066667,640.591667,708.433333,763.350000,789.275000,795.550000,795.150000,756.316667,743.725000,676.033333,599.525000
1,40020,Harlem-Lake,1517.516667,1542.058333,1540.308333,1597.433333,1649.650000,1687.358333,1810.058333,1781.400000,1498.483333,1661.175000,1582.700000
2,40030,Pulaski-Lake,776.108333,889.708333,971.891667,1058.066667,1133.000000,995.941667,1010.783333,923.500000,761.733333,754.041667,715.866667
3,40040,Quincy-Wells,1474.783333,1512.141667,1443.483333,1612.433333,1317.983333,1538.883333,1613.841667,1406.450000,1438.425000,1351.950000,1282.041667
4,40050,Davis,1875.658333,1964.383333,1904.425000,1972.058333,1910.525000,1961.175000,1986.366667,1970.075000,1840.083333,1750.291667,1680.308333

In [ ]:
sunday_holiday_ridership.to_sql('sunday_holiday_data', con)

# Add location information

In [3]:
path = "../Resources/CTA_System_Information.csv"
system_info = pd.read_csv(path)
system_info.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,...,Pexp,Y,Pnk,O,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,...,False,False,True,False,"(41.857908, -87.669147)",8.0,14920,33.0,343.0,26.0
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,...,False,False,True,False,"(41.857908, -87.669147)",8.0,14920,33.0,343.0,26.0
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,...,False,False,False,True,"(41.829353, -87.680622)",26.0,14924,56.0,719.0,1.0
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,...,False,False,False,True,"(41.829353, -87.680622)",26.0,14924,56.0,719.0,1.0
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,...,False,False,False,False,"(41.831677, -87.625826)",12.0,21194,1.0,25.0,9.0

In [31]:
cta_location = system_info[["MAP_ID", "Location"]]
cta_location.head()

   MAP_ID                 Location
0   40830  (41.857908, -87.669147)
1   40830  (41.857908, -87.669147)
2   40120  (41.829353, -87.680622)
3   40120  (41.829353, -87.680622)
4   41120  (41.831677, -87.625826)

In [32]:
cta_location_rename = cta_location.rename(columns={"MAP_ID":"Station_ID"})
cta_location_rename.head()

   Station_ID                 Location
0       40830  (41.857908, -87.669147)
1       40830  (41.857908, -87.669147)
2       40120  (41.829353, -87.680622)
3       40120  (41.829353, -87.680622)
4       41120  (41.831677, -87.625826)

In [33]:
cta_location_rename.count()

Station_ID    297
Location      297
dtype: int64

In [34]:
cta_location_new = cta_location_rename.drop_duplicates(subset=None, keep="first", inplace=False)
cta_location_new

     Station_ID                     Location
0         40830      (41.857908, -87.669147)
2         40120      (41.829353, -87.680622)
4         41120      (41.831677, -87.625826)
6         41270      (41.816462, -87.619021)
8         41080      (41.809209, -87.618826)
10        41230       (41.810318, -87.63094)
12        40130       (41.80209, -87.618487)
14        40580  (41.85177331, -87.75669201)
16        40910      (41.780536, -87.630952)
18        40990      (41.768367, -87.625724)
20        40240      (41.750419, -87.625112)
22        41430      (41.735372, -87.624717)
24        40450      (41.722377, -87.624342)
26        40680      (41.879507, -87.626037)
28        41440      (41.947028, -87.674642)
30        41420      (41.947428, -87.653626)
32        41240        (41.94738, -87.71906)
34        41200       (41.973453, -87.65853)
36        40660      (41.918217, -87.652644)
38        41060      (41.839234, -87.665317)
40        40170      (41.885269, -87.666969)
42        40290       (41.77886, -87.663766)
44        40010      (41.870851, -87.776812)
46        41260      (41.887293, -87.774135)
48        40060      (41.938132, -87.712359)
50        41320       (41.939751, -87.65338)
54        40340      (41.977984, -87.658668)
56        41380       (41.983504, -87.65884)
58        40440      (41.854109, -87.694774)
60        41360       (41.88422, -87.696234)
..          ...                          ...
234       41310      (41.943623, -87.670907)
236       41030       (41.871551, -87.66953)
238       40960      (41.799756, -87.724493)
240       40150      (41.853732, -87.724311)
242       40920      (41.873797, -87.725663)
244       40030      (41.885412, -87.725404)
246       40040       (41.878723, -87.63374)
248       40470       (41.87592, -87.659458)
250       40610      (41.887159, -87.783661)
252       41010        (41.966115, -87.6941)
254       41400       (41.867405, -87.62659)
255       40820      (41.983507, -87.859388)
257       40800      (41.910409, -87.639302)
259       40080      (41.953775, -87.654929)
263       40840      (42.027612, -87.678329)
265       40360      (41.943744, -87.663619)
267       40190      (41.831191, -87.630636)
269       40260       (41.88574, -87.627835)
271       40880      (41.990259, -87.659076)
273       40350      (41.875474, -87.649707)
275       40370       (41.883164, -87.62944)
277       41700       (41.88322, -87.626189)
279       40730       (41.882695, -87.63378)
281       41210      (41.936033, -87.653266)
283       40310      (41.804546, -87.684019)
285       40740      (41.854225, -87.685129)
287       41480      (41.966163, -87.688502)
289       40670      (41.916157, -87.687364)
290       40220      (41.875478, -87.688436)
293       40540      (41.964273, -87.657588)

[143 rows x 2 columns]

In [35]:
cta_location_new.dtypes

Station_ID     int64
Location      object
dtype: object

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667
1,40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333
2,40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000
3,40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667
4,40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667
5,40060,Belmont-O'Hare,117489.500000,113296.416667,120197.500000,129054.916667,138890.083333,142721.833333,141004.916667,148130.250000,149804.333333,144153.583333,125839.000000
6,40070,Jackson-Dearborn,188139.166667,176507.000000,186192.750000,193094.250000,201597.333333,204956.083333,196462.666667,200146.750000,193289.083333,179964.916667,174221.250000
7,40080,Sheridan,133543.500000,131464.166667,136037.500000,142370.416667,147609.000000,149704.416667,151951.916667,153889.666667,155206.666667,143853.000000,132721.166667
8,40090,Damen-Brown,846.333333,47570.000000,54098.666667,58111.833333,63886.000000,66203.250000,67673.416667,69648.250000,74770.750000,72802.083333,71476.750000
9,40100,Morse,109251.416667,113529.250000,114977.500000,123767.083333,110577.083333,126945.166667,137963.916667,136353.166667,133023.166667,126112.250000,122092.916667
10,40120,35th-Archer,69520.333333,65834.666667,66188.333333,71099.583333,75987.333333,78015.916667,78055.416667,81924.833333,82038.000000,79682.833333,76562.250000
11,40130,51st,29005.916667,28156.250000,28625.416667,29947.666667,30873.666667,37287.416667,30192.416667,30232.416667,27447.916667,25363.250000,27273.083333
12,40140,Dempster-Skokie,59014.000000,62029.416667,65037.833333,65600.666667,63190.333333,58120.166667,57113.250000,26959.916667,50688.333333,51449.583333,49792.083333
13,40150,Pulaski-Cermak,27234.750000,27305.250000,29121.916667,31328.250000,33322.500000,32399.500000,34498.500000,34298.833333,30751.166667,28407.166667,27705.166667
14,40160,LaSalle-Van Buren,72574.166667,69933.416667,66235.833333,69998.250000,67686.000000,66489.000000,68415.583333,64529.583333,67237.583333,67676.666667,69084.166667
15,40170,Ashland-Lake,62250.083333,62215.750000,61718.416667,66282.916667,66732.916667,65059.916667,65208.583333,67583.083333,63287.250000,61648.916667,62399.083333
16,40180,Oak Park-Forest Park,40800.666667,40145.333333,41524.083333,43901.416667,44912.833333,45464.583333,46362.750000,46127.000000,46118.666667,44746.166667,44082.500000
17,40190,Sox-35th-Dan Ryan,126024.250000,130067.333333,139919.833333,142011.333333,145054.750000,71724.000000,137197.333333,142727.500000,138422.333333,128693.083333,119950.750000
18,40200,Randolph-Wabash,187171.666667,174849.083333,173738.833333,185506.083333,192640.333333,184598.250000,186885.166667,248032.666667,250544.083333,165649.833333,29.000000
19,40210,Damen-Cermak,30675.000000,31890.416667,32264.333333,35332.583333,37660.833333,38043.000000,40600.833333,41427.833333,40395.500000,39546.500000,38823.916667
20,40220,Western-Forest Park,37688.833333,36360.166667,39561.583333,43884.666667,47363.500000,44995.916667,46404.833333,46312.083333,44517.916667,42763.083333,41455.500000
21,40230,Cumberland,124512.000000,115845.416667,116560.333333,117576.000000,121390.333333,119880.750000,115510.083333,120951.250000,117942.583333,117158.666667,111280.666667
22,40240,79th,220702.250000,210082.166667,213785.083333,211156.083333,206482.833333,113048.818182,201556.333333,208989.250000,196933.000000,184426.250000,176745.916667
23,40250,Kedzie-Homan-Forest Park,46368.500000,45232.416667,50941.083333,56989.333333,60595.083333,59960.333333,62692.166667,65604.000000,60096.833333,52471.000000,52611.666667
24,40260,State-Lake,247718.916667,234994.833333,236538.083333,245539.500000,255539.000000,253630.000000,257683.833333,274649.500000,262233.416667,275541.166667,314987.500000
25,40270,Main,31129.416667,31935.666667,30427.000000,31576.250000,32131.833333,31836.666667,33620.083333,33243.916667,32627.583333,32088.666667,30963.583333
26,40280,Central-Lake,66371.083333,63915.000000,63414.500000,62231.416667,63935.416667,60817.666667,62017.333333,62578.666667,53975.083333,51853.833333,52206.250000
27,40290,Ashland-63rd,44235.583333,40294.750000,39291.833333,41047.416667,41533.333333,61556.083333,39944.750000,36899.250000,31391.333333,30569.250000,28569.250000
28,40300,Indiana,22077.916667,21653.333333,22532.916667,23693.916667,24648.583333,30928.500000,26208.166667,24761.166667,22657.250000,22237.416667,21102.583333
29,40310,Western-Orange,87126.250000,82132.666667,81764.750000,85498.000000,92141.750000,96236.416667,107815.083333,111249.583333,100180.250000,96592.250000,93282.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,41240,Addison-O'Hare,64393.333333,61477.333333,62636.750000,66028.500000,70875.333333,73325.416667,73018.833333,79146.333333,72064.250000,73945.000000,75805.000000
117,41250,Central-Evanston,23542.916667,22099.000000,22041.083333,22978.666667,22855.750000,22391.083333,22123.500000,21709.750000,21869.416667,20949.500000,20856.083333
118,41260,Austin-Lake,54481.250000,53308.750000,51644.500000,52465.083333,52883.500000,51521.333333,53616.166667,53567.333333,49842.166667,49418.166667,46631.333333
119,41270,43rd,25200.916667,24798.416667,25984.250000,26716.666667,27760.666667,34358.166667,30273.583333,29523.750000,27791.583333,26519.166667,25919.083333
120,41280,Jefferson Park,160894.166667,152524.666667,151355.416667,164080.583333,172783.833333,175565.166667,178001.583333,181097.333333,181894.166667,174968.166667,163253.166667
121,41290,Kimball,93699.750000,98779.416667,102612.083333,108040.500000,110318.833333,106497.166667,110974.500000,108733.750000,109404.333333,104700.916667,102750.583333
122,41300,Loyola,131155.666667,138337.416667,143934.583333,147141.333333,153429.083333,151264.000000,152307.166667,151781.583333,148649.166667,141817.333333,140007.250000
123,41310,Paulina,17381.333333,41464.500000,60522.583333,63764.333333,67461.333333,73070.666667,72913.583333,71838.916667,72128.083333,71094.750000,71247.000000
124,41320,Belmont-North Main,318661.500000,324824.750000,326078.250000,350828.916667,372492.000000,365639.083333,366489.000000,362779.666667,357854.666667,334198.916667,317793.750000
125,41330,Montrose-O'Hare,45424.166667,46725.166667,50451.250000,54573.916667,59787.000000,61784.416667,64073.333333,65387.250000,62096.000000,66085.333333,68208.083333
126,41340,LaSalle,67932.250000,61931.833333,64879.916667,70567.333333,74943.583333,76119.750000,75649.083333,78148.500000,81792.166667,77304.500000,74780.250000
127,41350,Oak Park-Lake,44170.166667,41830.166667,40595.500000,39808.083333,40780.750000,40695.916667,42560.416667,42071.000000,39345.250000,39933.750000,39561.083333
128,41360,California-Lake,28358.750000,27461.583333,28977.250000,29136.250000,29198.416667,28443.666667,30497.750000,30613.000000,28330.583333,25927.416667,26527.833333
129,41380,Bryn Mawr,116858.333333,121036.916667,125900.416667,132470.333333,138241.916667,134839.750000,133523.500000,133819.833333,131288.500000,125801.083333,124425.583333
130,41400,Roosevelt,252970.250000,269128.000000,286737.333333,303795.333333,317626.750000,332673.750000,328481.750000,318001.416667,317195.583333,311318.500000,296247.250000
131,41410,Chicago-Milwaukee,81173.583333,79160.750000,89406.916667,98082.083333,106466.666667,112215.166667,109119.666667,112888.666667,108143.083333,105647.833333,102649.000000
132,41420,Addison-North Main,216954.583333,228910.916667,238889.000000,243555.666667,251614.000000,242578.083333,240405.916667,252898.166667,263509.750000,247657.666667,236012.500000
133,41430,87th,136212.333333,135053.833333,137804.250000,135415.750000,132460.916667,70050.090909,125530.166667,126371.333333,117381.083333,110045.916667,107238.333333
134,41440,Addison-Brown,77199.166667,60557.000000,56104.416667,59352.333333,61879.083333,63395.583333,63409.166667,61337.166667,64296.583333,61944.000000,60569.916667
135,41450,Chicago-State,321419.500000,377578.083333,405083.166667,428270.666667,443312.000000,426638.916667,438332.666667,438544.833333,438564.500000,408507.916667,388271.000000
136,41460,Irving Park-Brown,2465.166667,57958.833333,65977.000000,72773.500000,77083.666667,80703.416667,82940.333333,80219.916667,81723.000000,81987.333333,82203.833333
137,41480,Western-Brown,98135.333333,96672.250000,99985.500000,104089.333333,109709.083333,113552.500000,114596.583333,111274.500000,109692.500000,107106.166667,105564.166667
138,41490,Harrison,79250.416667,91844.250000,105988.250000,113708.750000,117979.250000,115975.000000,112400.583333,124780.166667,122865.916667,113240.333333,108396.166667
139,41500,Montrose-Brown,74868.333333,57947.666667,59838.000000,65579.750000,69476.583333,73696.333333,73405.166667,71858.000000,73341.083333,72679.416667,68828.000000
140,41510,Morgan-Lake,NaN,NaN,NaN,NaN,36118.000000,50098.000000,58780.583333,67175.916667,72419.000000,75739.333333,87197.166667
141,41660,Lake-State,351837.083333,413460.250000,444505.750000,461175.083333,479203.500000,482727.750000,544743.500000,584281.000000,584492.083333,554200.083333,550408.500000
142,41670,Conservatory,21099.666667,22403.250000,24069.500000,25168.416667,25069.250000,23944.250000,25799.416667,27320.000000,25371.333333,23674.500000,24690.166667
143,41680,Oakton-Skokie,NaN,NaN,NaN,NaN,19305.111111,23610.166667,25093.750000,12490.250000,23041.666667,24590.666667,23919.000000
144,41690,Cermak-McCormick Place,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32565.750000,37668.583333,39698.916667,45288.500000
145,41700,Washington-Wabash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203397.800000,264906.750000

In [91]:
cta_ten_year_ridership = pd.merge(ten_year_data, cta_location_new, on="Station_ID")
cta_ten_year_ridership

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Location
0,40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667,"(41.870851, -87.776812)"
1,40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333,"(41.886848, -87.803176)"
2,40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000,"(41.885412, -87.725404)"
3,40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667,"(41.878723, -87.63374)"
4,40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667,"(42.04771, -87.683543)"
5,40060,Belmont-O'Hare,117489.500000,113296.416667,120197.500000,129054.916667,138890.083333,142721.833333,141004.916667,148130.250000,149804.333333,144153.583333,125839.000000,"(41.938132, -87.712359)"
6,40070,Jackson-Dearborn,188139.166667,176507.000000,186192.750000,193094.250000,201597.333333,204956.083333,196462.666667,200146.750000,193289.083333,179964.916667,174221.250000,"(41.878183, -87.629296)"
7,40080,Sheridan,133543.500000,131464.166667,136037.500000,142370.416667,147609.000000,149704.416667,151951.916667,153889.666667,155206.666667,143853.000000,132721.166667,"(41.953775, -87.654929)"
8,40090,Damen-Brown,846.333333,47570.000000,54098.666667,58111.833333,63886.000000,66203.250000,67673.416667,69648.250000,74770.750000,72802.083333,71476.750000,"(41.966286, -87.678639)"
9,40100,Morse,109251.416667,113529.250000,114977.500000,123767.083333,110577.083333,126945.166667,137963.916667,136353.166667,133023.166667,126112.250000,122092.916667,"(42.008362, -87.665909)"
10,40120,35th-Archer,69520.333333,65834.666667,66188.333333,71099.583333,75987.333333,78015.916667,78055.416667,81924.833333,82038.000000,79682.833333,76562.250000,"(41.829353, -87.680622)"
11,40130,51st,29005.916667,28156.250000,28625.416667,29947.666667,30873.666667,37287.416667,30192.416667,30232.416667,27447.916667,25363.250000,27273.083333,"(41.80209, -87.618487)"
12,40140,Dempster-Skokie,59014.000000,62029.416667,65037.833333,65600.666667,63190.333333,58120.166667,57113.250000,26959.916667,50688.333333,51449.583333,49792.083333,"(42.038951, -87.751919)"
13,40150,Pulaski-Cermak,27234.750000,27305.250000,29121.916667,31328.250000,33322.500000,32399.500000,34498.500000,34298.833333,30751.166667,28407.166667,27705.166667,"(41.853732, -87.724311)"
14,40160,LaSalle-Van Buren,72574.166667,69933.416667,66235.833333,69998.250000,67686.000000,66489.000000,68415.583333,64529.583333,67237.583333,67676.666667,69084.166667,"(41.8768, -87.631739)"
15,40170,Ashland-Lake,62250.083333,62215.750000,61718.416667,66282.916667,66732.916667,65059.916667,65208.583333,67583.083333,63287.250000,61648.916667,62399.083333,"(41.885269, -87.666969)"
16,40180,Oak Park-Forest Park,40800.666667,40145.333333,41524.083333,43901.416667,44912.833333,45464.583333,46362.750000,46127.000000,46118.666667,44746.166667,44082.500000,"(41.872108, -87.791602)"
17,40190,Sox-35th-Dan Ryan,126024.250000,130067.333333,139919.833333,142011.333333,145054.750000,71724.000000,137197.333333,142727.500000,138422.333333,128693.083333,119950.750000,"(41.831191, -87.630636)"
18,40210,Damen-Cermak,30675.000000,31890.416667,32264.333333,35332.583333,37660.833333,38043.000000,40600.833333,41427.833333,40395.500000,39546.500000,38823.916667,"(41.854517, -87.675975)"
19,40220,Western-Forest Park,37688.833333,36360.166667,39561.583333,43884.666667,47363.500000,44995.916667,46404.833333,46312.083333,44517.916667,42763.083333,41455.500000,"(41.875478, -87.688436)"
20,40230,Cumberland,124512.000000,115845.416667,116560.333333,117576.000000,121390.333333,119880.750000,115510.083333,120951.250000,117942.583333,117158.666667,111280.666667,"(41.984246, -87.838028)"
21,40240,79th,220702.250000,210082.166667,213785.083333,211156.083333,206482.833333,113048.818182,201556.333333,208989.250000,196933.000000,184426.250000,176745.916667,"(41.750419, -87.625112)"
22,40250,Kedzie-Homan-Forest Park,46368.500000,45232.416667,50941.083333,56989.333333,60595.083333,59960.333333,62692.166667,65604.000000,60096.833333,52471.000000,52611.666667,"(41.874341, -87.70604)"
23,40260,State-Lake,247718.916667,234994.833333,236538.083333,245539.500000,255539.000000,253630.000000,257683.833333,274649.500000,262233.416667,275541.166667,314987.500000,"(41.88574, -87.627835)"
24,40270,Main,31129.416667,31935.666667,30427.000000,31576.250000,32131.833333,31836.666667,33620.083333,33243.916667,32627.583333,32088.666667,30963.583333,"(42.033456, -87.679538)"
25,40280,Central-Lake,66371.083333,63915.000000,63414.500000,62231.416667,63935.416667,60817.666667,62017.333333,62578.666667,53975.083333,51853.833333,52206.250000,"(41.887389, -87.76565)"
26,40290,Ashland-63rd,44235.583333,40294.750000,39291.833333,41047.416667,41533.333333,61556.083333,39944.750000,36899.250000,31391.333333,30569.250000,28569.250000,"(41.77886, -87.663766)"
27,40300,Indiana,22077.916667,21653.333333,22532.916667,23693.916667,24648.583333,30928.500000,26208.166667,24761.166667,22657.250000,22237.416667,21102.583333,"(41.821732, -87.621371)"
28,40310,Western-Orange,87126.250000,82132.666667,81764.750000,85498.000000,92141.750000,96236.416667,107815.083333,111249.583333,100180.250000,96592.250000,93282.916667,"(41.804546, -87.684019)"
29,40320,Division-Milwaukee,123517.000000,117718.416667,132311.750000,146005.083333,154459.500000,159431.083333,171692.416667,165958.250000,160777.500000,155948.416667,156848.000000,"(41.903355, -87.666496)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,41240,Addison-O'Hare,64393.333333,61477.333333,62636.750000,66028.500000,70875.333333,73325.416667,73018.833333,79146.333333,72064.250000,73945.000000,75805.000000,"(41.94738, -87.71906)"
114,41250,Central-Evanston,23542.916667,22099.000000,22041.083333,22978.666667,22855.750000,22391.083333,22123.500000,21709.750000,21869.416667,20949.500000,20856.083333,"(42.063987, -87.685617)"
115,41260,Austin-Lake,54481.250000,53308.750000,51644.500000,52465.083333,52883.500000,51521.333333,53616.166667,53567.333333,49842.166667,49418.166667,46631.333333,"(41.887293, -87.774135)"
116,41270,43rd,25200.916667,24798.416667,25984.250000,26716.666667,27760.666667,34358.166667,30273.583333,29523.750000,27791.583333,26519.166667,25919.083333,"(41.816462, -87.619021)"
117,41280,Jefferson Park,160894.166667,152524.666667,151355.416667,164080.583333,172783.833333,175565.166667,178001.583333,181097.333333,181894.166667,174968.166667,163253.166667,"(41.970634, -87.760892)"
118,41290,Kimball,93699.750000,98779.416667,102612.083333,108040.500000,110318.833333,106497.166667,110974.500000,108733.750000,109404.333333,104700.916667,102750.583333,"(41.967901, -87.713065)"
119,41300,Loyola,131155.666667,138337.416667,143934.583333,147141.333333,153429.083333,151264.000000,152307.166667,151781.583333,148649.166667,141817.333333,140007.250000,"(42.001073, -87.661061)"
120,41310,Paulina,17381.333333,41464.500000,60522.583333,63764.333333,67461.333333,73070.666667,72913.583333,71838.916667,72128.083333,71094.750000,71247.000000,"(41.943623, -87.670907)"
121,41320,Belmont-North Main,318661.500000,324824.750000,326078.250000,350828.916667,372492.000000,365639.083333,366489.000000,362779.666667,357854.666667,334198.916667,317793.750000,"(41.939751, -87.65338)"
122,41330,Montrose-O'Hare,45424.166667,46725.166667,50451.250000,54573.916667,59787.000000,61784.416667,64073.333333,65387.250000,62096.000000,66085.333333,68208.083333,"(41.961539, -87.743574)"
123,41340,LaSalle,67932.250000,61931.833333,64879.916667,70567.333333,74943.583333,76119.750000,75649.083333,78148.500000,81792.166667,77304.500000,74780.250000,"(41.875568, -87.631722)"
124,41350,Oak Park-Lake,44170.166667,41830.166667,40595.500000,39808.083333,40780.750000,40695.916667,42560.416667,42071.000000,39345.250000,39933.750000,39561.083333,"(41.886988, -87.793783)"
125,41360,California-Lake,28358.750000,27461.583333,28977.250000,29136.250000,29198.416667,28443.666667,30497.750000,30613.000000,28330.583333,25927.416667,26527.833333,"(41.88422, -87.696234)"
126,41380,Bryn Mawr,116858.333333,121036.916667,125900.416667,132470.333333,138241.916667,134839.750000,133523.500000,133819.833333,131288.500000,125801.083333,124425.583333,"(41.983504, -87.65884)"
127,41400,Roosevelt,252970.250000,269128.000000,286737.333333,303795.333333,317626.750000,332673.750000,328481.750000,318001.416667,317195.583333,311318.500000,296247.250000,"(41.867405, -87.62659)"
128,41410,Chicago-Milwaukee,81173.583333,79160.750000,89406.916667,98082.083333,106466.666667,112215.166667,109119.666667,112888.666667,108143.083333,105647.833333,102649.000000,"(41.896075, -87.655214)"
129,41420,Addison-North Main,216954.583333,228910.916667,238889.000000,243555.666667,251614.000000,242578.083333,240405.916667,252898.166667,263509.750000,247657.666667,236012.500000,"(41.947428, -87.653626)"
130,41430,87th,136212.333333,135053.833333,137804.250000,135415.750000,132460.916667,70050.090909,125530.166667,126371.333333,117381.083333,110045.916667,107238.333333,"(41.735372, -87.624717)"
131,41440,Addison-Brown,77199.166667,60557.000000,56104.416667,59352.333333,61879.083333,63395.583333,63409.166667,61337.166667,64296.583333,61944.000000,60569.916667,"(41.947028, -87.674642)"
132,41450,Chicago-State,321419.500000,377578.083333,405083.166667,428270.666667,443312.000000,426638.916667,438332.666667,438544.833333,438564.500000,408507.916667,388271.000000,"(41.896671, -87.628176)"
133,41460,Irving Park-Brown,2465.166667,57958.833333,65977.000000,72773.500000,77083.666667,80703.416667,82940.333333,80219.916667,81723.000000,81987.333333,82203.833333,"(41.954521, -87.674868)"
134,41480,Western-Brown,98135.333333,96672.250000,99985.500000,104089.333333,109709.083333,113552.500000,114596.583333,111274.500000,109692.500000,107106.166667,105564.166667,"(41.966163, -87.688502)"
135,41490,Harrison,79250.416667,91844.250000,105988.250000,113708.750000,117979.250000,115975.000000,112400.583333,124780.166667,122865.916667,113240.333333,108396.166667,"(41.874039, -87.627479)"
136,41500,Montrose-Brown,74868.333333,57947.666667,59838.000000,65579.750000,69476.583333,73696.333333,73405.166667,71858.000000,73341.083333,72679.416667,68828.000000,"(41.961756, -87.675047)"
137,41510,Morgan-Lake,NaN,NaN,NaN,NaN,36118.000000,50098.000000,58780.583333,67175.916667,72419.000000,75739.333333,87197.166667,"(41.885586, -87.652193)"
138,41660,Lake-State,351837.083333,413460.250000,444505.750000,461175.083333,479203.500000,482727.750000,544743.500000,584281.000000,584492.083333,554200.083333,550408.500000,"(41.884809, -87.627813)"
139,41670,Conservatory,21099.666667,22403.250000,24069.500000,25168.416667,25069.250000,23944.250000,25799.416667,27320.000000,25371.333333,23674.500000,24690.166667,"(41.884904, -87.716523)"
140,41680,Oakton-Skokie,NaN,NaN,NaN,NaN,19305.111111,23610.166667,25093.750000,12490.250000,23041.666667,24590.666667,23919.000000,"(42.02624348, -87.74722084)"
141,41690,Cermak-McCormick Place,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32565.750000,37668.583333,39698.916667,45288.500000,"(41.853115, -87.626402)"
142,41700,Washington-Wabash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203397.800000,264906.750000,"(41.88322, -87.626189)"

In [57]:
cta_ten_year_ridership.count()

Station_ID      143
Station_Name    143
2008            139
2009            139
2010            139
2011            139
2012            141
2013            141
2014            141
2015            142
2016            142
2017            143
2018            143
Location        143
dtype: int64

In [76]:
# startyear = 2008
# totalyears = 10
# years = [] 
# references = []
# for x in range(0,totalyears+1):
#     if x == 0:
#         year = startyear
#         years.append(year)
#         reference = 2
#         references.append(reference)
#     else:
#         year = year + 1
#         years.append(year)
#         reference = reference + 1
#         references.append(reference)
# year_dict = dict(zip(years, references))
# useryear = 2018
# column = year_dict[useryear]

# cta_ten_year_ridership.iloc[:, column].tolist()

[47472.166666666664,
 97086.58333333333,
 37237.5,
 181934.91666666666,
 96000.41666666667,
 125839.0,
 174221.25,
 132721.16666666666,
 71476.75,
 122092.91666666667,
 76562.25,
 27273.083333333332,
 49792.083333333336,
 27705.166666666668,
 69084.16666666667,
 62399.083333333336,
 44082.5,
 119950.75,
 38823.916666666664,
 41455.5,
 111280.66666666667,
 176745.91666666666,
 52611.666666666664,
 314987.5,
 30963.583333333332,
 52206.25,
 28569.25,
 21102.583333333332,
 93282.91666666667,
 156848.0,
 323870.8333333333,
 88621.33333333333,
 143518.41666666666,
 93572.91666666667,
 335987.5833333333,
 504026.25,
 83567.41666666667,
 23529.666666666668,
 32115.916666666668,
 87961.91666666667,
 36233.916666666664,
 252082.41666666666,
 190704.5,
 56557.916666666664,
 32791.75,
 73658.41666666667,
 29015.75,
 21569.666666666668,
 141491.83333333334,
 171813.41666666666,
 110440.66666666667,
 227219.16666666666,
 143967.16666666666,
 54544.416666666664,
 172655.66666666666,
 12517.583333333334,
 33585.5,
 215450.66666666666,
 155959.33333333334,
 107175.5,
 136497.91666666666,
 185412.91666666666,
 22591.833333333332,
 30331.25,
 173203.75,
 26627.75,
 181580.25,
 29467.166666666668,
 74029.83333333333,
 106407.91666666667,
 86727.25,
 30165.666666666668,
 194106.58333333334,
 98655.83333333333,
 56905.0,
 171097.16666666666,
 47351.666666666664,
 19673.0,
 91085.58333333333,
 41602.833333333336,
 81138.58333333333,
 331791.0,
 145306.66666666666,
 81212.5,
 45953.333333333336,
 218606.08333333334,
 14966.25,
 125289.08333333333,
 34629.5,
 31318.583333333332,
 130350.25,
 121594.5,
 43592.833333333336,
 192669.66666666666,
 74835.08333333333,
 27748.416666666668,
 25358.0,
 40734.333333333336,
 39557.916666666664,
 29060.666666666668,
 258801.66666666666,
 43881.166666666664,
 64557.25,
 13562.083333333334,
 86156.66666666667,
 103596.83333333333,
 85835.16666666667,
 53049.083333333336,
 41928.916666666664,
 84049.33333333333,
 75743.0,
 312609.6666666667,
 77635.83333333333,
 75805.0,
 20856.083333333332,
 46631.333333333336,
 25919.083333333332,
 163253.16666666666,
 102750.58333333333,
 140007.25,
 71247.0,
 317793.75,
 68208.08333333333,
 74780.25,
 39561.083333333336,
 26527.833333333332,
 124425.58333333333,
 296247.25,
 102649.0,
 236012.5,
 107238.33333333333,
 60569.916666666664,
 388271.0,
 82203.83333333333,
 105564.16666666667,
 108396.16666666667,
 68828.0,
 87197.16666666667,
 550408.5,
 24690.166666666668,
 23919.0,
 45288.5,
 264906.75]

In [92]:
#split location into lat/lon
cta_ten_year_ridership[['lat','lon']] = cta_ten_year_ridership.Location.str.split(expand=True)
cta_ten_year_ridership.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Location,lat,lon
0,40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667,"(41.870851, -87.776812)","(41.870851,",-87.776812)
1,40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333,"(41.886848, -87.803176)","(41.886848,",-87.803176)
2,40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000,"(41.885412, -87.725404)","(41.885412,",-87.725404)
3,40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667,"(41.878723, -87.63374)","(41.878723,",-87.63374)
4,40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667,"(42.04771, -87.683543)","(42.04771,",-87.683543)

In [93]:
#convert lat/lon into numeric
cta_ten_year_ridership['lat'] = cta_ten_year_ridership.lat.str.replace('(' , '')
cta_ten_year_ridership['lat'] = cta_ten_year_ridership.lat.str.replace(',' , '')
cta_ten_year_ridership['lon'] = cta_ten_year_ridership.lon.str.replace(')' , '')
cta_ten_year_ridership['lat'] = pd.to_numeric(cta_ten_year_ridership['lat'])
cta_ten_year_ridership['lon'] = pd.to_numeric(cta_ten_year_ridership['lon'])
cta_ten_year_ridership.head()

,Station_ID,Station_Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Location,lat,lon
0,40010,Austin-Forest Park,46823.750000,46341.750000,48507.000000,51768.416667,53616.500000,53141.416667,53227.333333,52914.333333,52216.083333,49944.166667,47472.166667,"(41.870851, -87.776812)",41.870851,-87.776812
1,40020,Harlem-Lake,101845.583333,95363.000000,95740.333333,96599.083333,100778.250000,102351.416667,106548.416667,105530.083333,97463.500000,97634.916667,97086.583333,"(41.886848, -87.803176)",41.886848,-87.803176
2,40030,Pulaski-Lake,45024.833333,48082.250000,53863.666667,54576.166667,55984.583333,51132.083333,50526.916667,47168.250000,40027.916667,37620.333333,37237.500000,"(41.885412, -87.725404)",41.885412,-87.725404
3,40040,Quincy-Wells,168745.333333,170798.416667,166625.583333,183112.750000,184427.083333,185044.416667,190696.083333,182758.083333,186506.083333,185204.416667,181934.916667,"(41.878723, -87.63374)",41.878723,-87.633740
4,40050,Davis,105441.000000,103588.500000,102167.500000,103838.750000,104414.833333,103015.666667,104849.916667,103930.083333,100214.166667,97038.833333,96000.416667,"(42.04771, -87.683543)",42.047710,-87.683543

In [96]:
#add to sql database
cta_ten_year_ridership.to_sql('ten_year_ridership', con)

# Station Specific Attributes

In [5]:
# Working with the orignal system_info dataframe, rename columns for conistancy 
system_info.rename(columns = {'STATION_NAME':'Station_Name', 'MAP_ID':'Station_ID', 'RED':'Red', 'BLUE':'Blue', 'G': 'Green', 'BRN': 'Brown',
                'Pexp':'Purple Express', 'Y': 'Yellow', 'Pnk': 'Pink', 'O': 'Orange'}
                 ,inplace = True) 

# system_info.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,Station_Name,STATION_DESCRIPTIVE_NAME,Station_ID,ADA,Red,Blue,Green,...,Purple Express,Yellow,Pink,Orange,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,...,False,False,True,False,"(41.857908, -87.669147)",8.0,14920,33.0,343.0,26.0
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,...,False,False,True,False,"(41.857908, -87.669147)",8.0,14920,33.0,343.0,26.0
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,...,False,False,False,True,"(41.829353, -87.680622)",26.0,14924,56.0,719.0,1.0
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,...,False,False,False,True,"(41.829353, -87.680622)",26.0,14924,56.0,719.0,1.0
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,...,False,False,False,False,"(41.831677, -87.625826)",12.0,21194,1.0,25.0,9.0

In [6]:
# create new dataframe with system_info, drop columns were are not using, drop duplicates, move Station_ID to the first Column
system_df = system_info 
system_df.drop(['STOP_ID','DIRECTION_ID', 'STOP_NAME', 'STATION_DESCRIPTIVE_NAME', 'Location'], axis = 1, inplace=True)
system_df.set_index('Station_ID', inplace = True)
system_df.reset_index(inplace=True)
system_df.drop_duplicates(subset='Station_Name', keep= 'first', inplace =True)
system_df.drop_duplicates(subset='Station_ID', keep= 'first', inplace =True)
# system_df.head()

,Station_ID,Station_Name,ADA,Red,Blue,Green,Brown,P,Purple Express,Yellow,Pink,Orange,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,40830,18th,True,False,False,False,False,False,False,False,True,False,8.0,14920,33.0,343.0,26.0
2,40120,35th/Archer,True,False,False,False,False,False,False,False,False,True,26.0,14924,56.0,719.0,1.0
4,41120,35th-Bronzeville-IIT,True,False,False,True,False,False,False,False,False,False,12.0,21194,1.0,25.0,9.0
6,41270,43rd,True,False,False,True,False,False,False,False,False,False,12.0,4301,4.0,162.0,9.0
8,41080,47th,True,False,False,True,False,False,False,False,False,False,12.0,21192,4.0,448.0,9.0

In [ ]:
#add to sql database
system_df.to_sql('system', con)